.Settings {
   background-color: whitesmoke;    
   padding: 0;
   border-radius: 3px;
}

.Settings .FormRow {  
    display: flex;
    justify-content: flex-end;
    padding: .5em;
}

.Settings .FormRow > Label {  
    padding: .5em 1em .5em 0;
    flex: 1;
}

.Settings .FormRow > Input {  
    flex: 2;
}

.Settings .FormRow > input, .form-row > button {
  padding: .5em;
}

.Settings .FormRow > button {
    background: gray;
    color: white;
    border: 0;
}

.Settings .ListOfPlayers {    
    text-align: left;
}

.Settings .SelectList ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.Settings .SelectList li {
    float: left;
}

.Settings .SelectList li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.Settings .SelectList li a:hover:not(.active) {
    background-color: #111;
}

.Settings .SelectList .active {
    background-color: #4CAF50;
}

