
.flip-container {   
    float: left;     
    margin: 5px;
	perspective: 1000px;
}

.flip-container, .front, .back {
    width: 10vw;
    height: 10vw;
}

.flip-container.flip .flipper {
	transform: rotateY(180deg);
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d; 
	position: relative;
}

.front, .back {
	backface-visibility: hidden;  
	position: absolute;
    border: 0.5vw solid white;
    border-radius: 5px;     
    font-family: cursive;
    font-size: 5vw;    
}

.back span { 
    position: relative;   
    margin: auto;
}

.back img {
    width: 100%;
    height: auto;
}

.front {
	z-index: 2;	
	transform: rotateY(0deg);
    background-color: dodgerblue; 
}

.back {
	transform: rotateY(180deg);
    background-color: yellow;     
}