
.flip-container {
    width: 150px;
    height: 150px;
    float: left;     
    margin: 5px;
	perspective: 1000px;
}

.flip-container, .front, .back {
    width: 150px;
    height: 150px;
}

.flip-container.flip .flipper {
	transform: rotateY(180deg);
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d; 
	position: relative;
}

.front, .back {
	backface-visibility: hidden;  

	position: absolute;
	top: 0;
	left: 0;

    border: 5px solid white;
    border-radius: 5px;    

    padding-top: 20px;
    font-family: cursive;
    font-size: 40px; 
    text-align: center; 
}

.front {
	z-index: 2;	
	transform: rotateY(0deg);
    background-color: dodgerblue; 
}

.back {
	transform: rotateY(180deg);
    background-color: yellow;     
}

@media (max-device-width: 480px) { 
    .flip-container, .front, .back { width: 21vw; height: 21vw; }
    .front, .back { font-size: 20px; }
}