 .Card {
    float: left;
    width: 100px;
    height: 100px; 
    padding: 20px;   
    margin: 15px;
    border: 5px solid white;
    border-radius: 5px;
    text-align: center;
    background-color: dodgerblue;  
}

.Card--flipped {   
    color: white; 
    background-color: black;
}
    
.Card--matched {
    border: 1px dashed white;
    background-color: green;
    width: 106px;
}
 